.has-bg-qonto {
    background: -webkit-gradient(linear, left top, right top, from(#5041B2), to(#7969E6));
    background: -webkit-linear-gradient(left, #5041B2 0%, #7969E6 100%);
    background: -o-linear-gradient(left, #5041B2 0%, #7969E6 100%);
    background: linear-gradient(90deg, #5041B2 0%, #7969E6 100%);
}

.has-bg-marks {
    background: -webkit-gradient(linear, left top, right top, from(#FD8355), color-stop(37.02%, #F0576C), to(#F79CBD));
    background: -webkit-linear-gradient(left, #FD8355 0%, #F0576C 37.02%, #F79CBD 100%);
    background: -o-linear-gradient(left, #FD8355 0%, #F0576C 37.02%, #F79CBD 100%);
    background: linear-gradient(90deg, #FD8355 0%, #F0576C 37.02%, #F79CBD 100%);
}

.has-bg-chauffeurprive {
    background: -webkit-gradient(linear, left top, right top, from(#CE0C2A), to(#DC6C7F));
    background: -webkit-linear-gradient(left, #CE0C2A 0%, #DC6C7F 100%);
    background: -o-linear-gradient(left, #CE0C2A 0%, #DC6C7F 100%);
    background: linear-gradient(90deg, #CE0C2A 0%, #DC6C7F 100%);
}

.has-bg-lecollectionist {
    background: -webkit-gradient(linear, right top, left top, from(#FAF0E7), to(#EFE5DC));
    background: -webkit-linear-gradient(right, #FAF0E7 0%, #EFE5DC 100%);
    background: -o-linear-gradient(right, #FAF0E7 0%, #EFE5DC 100%);
    background: linear-gradient(270deg, #FAF0E7 0%, #EFE5DC 100%);
}

.has-bg-orangelabs {
    background: -webkit-gradient(linear, right top, left top, from(#F0613C), to(#F0783C));
    background: -webkit-linear-gradient(right, #F0613C 0%, #F0783C 100%);
    background: -o-linear-gradient(right, #F0613C 0%, #F0783C 100%);
    background: linear-gradient(270deg, #F0613C 0%, #F0783C 100%);
}

.has-bg-mondocteur {
    background-color: #FF6C75;
}